<!DOCTYPE html>
<html>
    <head>
        <title><B>Blog</B></title>
    </head>
    <body>
        <!-- <header>
            <h1><a href="/"></a></h1>
        </header> -->

        <article>
            <time>published: 10.07.2025, 11:31</time>
            <h2><a href="">My first post</a></h2>
            <p>Sanjeet thapa </p>
        </article>

        <article>
            <time>published: 10.07.2025, 11:31</time>
            <h2><a href="">My second post</a></h2>
            <p>Void</p>
        </article>
    </body>
</html>